@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71% 4%;

    --primary: 149 100% 15%;
    --primary-foreground: 0 0% 98%;

    --secondary: 24 100% 58%;
    --secondary-foreground: 0 0% 98%;

    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
